<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.playone.jsscordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>JSS_Cordova</name>
	<description>JSS_Cordova</description>
	<author>playone</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="26" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="8.0" />
	<preference name="android-minSdkVersion" value="21" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-password-dialog" source="npm" />
	<plugin name="cordova-plugin-pin-dialog" source="npm" />
	<plugin name="cordova-plugin-bluetooth-serial2" source="npm" />
	<plugin name="cordova-plugin-listpicker" source="npm" />
	<gap:plugin name="com.manateeworks.barcodescanner" source="npm" />
	<plugin name="cordova-plugin-market-ibby" source="npm" />
	<plugin name="cordova-plugin-badge" source="npm" />
	<plugin name="cordova-plugin-keyboard" source="npm" />
	<plugin name="cordova-plugin-save-image" source="npm" />
	<plugin name="cordova-plugin-file" source="npm" />
	<plugin name="cordova-plugin-media-capture" source="npm" />
	<plugin name="cordova-plugin-lcr" source="npm" spec="~0.2.1" />

	<engine name="ios" />
	<engine name="android" />
</widget>